@charset "UTF-8";

/*
    em HTML é id em CSS é # (só pode um elemento)
    em HTML é class  em CSS é . (pode vários elementos)
*/


body {
    background-color: rgb( 205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(6, 168, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(6, 168, 0);
    color: white;
}

h2 {
    color: rgb(56, 87, 55);
}

.basico {
    color: rgb(8, 238, 8);
    font-weight: bold;
}

.intermediario {
    color: rgb(209, 209, 28);
    font-weight: bold;
}

.avançado {
    color: rgb(148, 25, 25);
}

.destaque {
    background-color: #c4c44683;
}